

header{
    border: 3px solid black;
    background-color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 15px auto;
     height: 150px;
     width: 80%;
}


.underscore {
    border: 3px solid black;
    font-size: 70px;

    text-align: center;
    margin: 0 auto;
     height: 160px;
     width: 60%;

}

#underscore {
    color: crimson;
}

.guesses-so-far{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
     height: 120px;
     width: 40%;
}

.guesses-left {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
     height: 120px;
     width: 40%;
}

.wins {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
     height: 100px;
     width: 30%;
}

.loses {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
     height: 100px;
     width: 30%;
}

#h {
    color: crimson;
}
#hm {
    color: crimson;
}


#guesses-so-far{
    color: crimson;
}

#guesses-left{
    color: crimson;
}

#wins{
    color: crimson;
}

#loses{
    color: crimson;
}